<h1> Posts </h1>

<% posts = Post.all %>

<ul>
    <% for post in posts %>
        <li> 
            <%= post.title %>
            <%= post.description %>
            <%= post.posted_on %>
            <%= post.place_id %>
        </li>
    <% end %>
</ul>